.logo{
    font-family: "Raleway"; font-size: 26px;
    line-height: 1.19;
    color:var(--color_14);
    text-decoration: none;

&--blue{ 
    color:var(--color_1);
}
}
.logo-footer{
    font-family: "Raleway"; 
    font-size: 26px;
    color:var(--color_3);
    text-decoration: none;

&--blue{
    color:var(--color_1);
}
}
