.container{
    margin:0 auto;
    max-width: 1200px;
    padding:0 15px;

.header & {
    display:flex;
    align-items: center;
    justify-content:space-between;
}
&__header{
    display:flex;
}
&--border{
    box-sizing: border-box;
    width: 1200px;
    height:80px;
    border-bottom: 1px solid var(--color_20);
}
}
.section{
    padding-top:94px;
    padding-bottom:94px;
&--background{
    margin: 0 auto;
    background-color:var(--color_18);
}
}
.footer{
    height:252px;
    margin: 0 auto;
    background-color:var(--color_8);

&__container{
       display: flex;
&--logo-padding{
    padding-top:60px;
}
&--socialmedia-padding{
    padding-top:72px;
    margin-left:70px;
}
}
}